.nav-link:hover {
    color:aliceblue
}

.nav-link {
    color: rgb(55, 173, 216)
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.success {
    color:rgb(80, 157, 80);
    background-color:rgb(214, 208, 200)
}

.danger {
    color:rgb(183, 77, 77);
    background-color:rgb(214, 208, 200)
}

.pt-0 {
    padding-top: 0px;
}

.py-0 {
    padding-bottom: 0px;
    padding-top: 0px;
}

.add-sm {
    font-size: 15px;
    background-color: rgba(244, 138, 17, 0.964);
    border-radius: .6rem;
    margin-top: 5px;
    align-items: center;
    justify-items: center;
}


.add-sm:hover {
    color: white;
    background-color: rgba(244, 138, 17, 0.964);
    background-image: none;
    border-color: rgba(244, 138, 17, 0.964);
}

.lg-font {
    font-size: 30px;
}

.rd-3 {
    border-radius: .3rem
}

.r_name {
    margin-top: 7px;
}

.rp-0 {
    padding-inline-start: 0px;
}


.rp-15 {
    padding-inline-start: 15px;
}


.btn-outline-or {
        color: rgba(233, 140, 34, 0.964);
        background-color: transparent;
        background-image: none;
        border-color: rgba(233, 140, 34, 0.964);
}

.btn-outline-or:hover {
    color: white;
    background-color: rgba(244, 138, 17, 0.964);
    background-image: none;
    border-color: rgba(244, 138, 17, 0.964);
}

.profile-pic {
    margin-top: 5px;
    position: relative;
    top: 0px;
    height: 200px;
}

.relative {
    position: relative
}

.about {
    position: relative;
    left: 15px
}

.mb-10 {
    margin-bottom: 10rem;
}