<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
    <title>Document</title>
</head>
<body>
<header>
    <div>
        <nav class="navbar navbar-expand">
            <div class="container-fluid">
              <!-- <div class="navbar-header">
                <a href="/races" class="navbar-brand">
                  <img src="/static/images/warbler-logo.png" alt="logo">
                  <span>Warbler</span>
                </a>
              </div> -->
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/races">Home</a></li>
                <!-- {% if request.endpoint != None %}
                <li>
                  <form class="navbar-form navbar-right" action="/users">
                    <input name="q" class="form-control" placeholder="Search Warbler" id="search">
                    <button class="btn btn-default">
                      <span class="fa fa-search"></span>
                    </button>
                  </form>
                </li>
                {% endif %} -->
                {% if not g.user %}
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
                {% else %}
                <!-- <li>
                  <a href="/user/{{ g.user.id }}">
                    <img src="{{ g.user.profile_image_url }}" alt="{{ g.user.username }}">
                  </a>
                </li> -->
                <li><a href="/user/{{ g.user.id }}">{{ g.user.username }}</a></li>
                <li><a href="/logout">Log out</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}"> {{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}</header>
    <h1>Hello</h1>

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>
</html>