<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/lumen/bootstrap.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<header>
  <div>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid d-flex justify-content-between align-items-center"> <!-- Use d-flex and justify-content-between here -->
            <ul class="nav navbar-nav flex-row">
                <li class="navbar-item"><a class="nav-link" href="/races">Runner's Vision</a></li>
            </ul>
            
            <ul class="nav navbar-nav flex-row flex-lg-wrap">
                {% if not g.user %}
                <li class="navbar-item mr-3"><a class="nav-link" href="/signup">Sign up</a></li>
                <li class="navbar-item"><a class="nav-link" href="/login">Log in</a></li>
                {% else %}
                <li class="navbar-item mr-3"><a class="nav-link" href="/user/{{ g.user.id }}">{{ g.user.username }}</a></li>
                <li class="navbar-item"><a class="nav-link" href="/logout">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>






    <!-- <div>
        <nav class="navbar navbar-expand-lg bg-dark">
          <div class="container-fluid navbar-left">
            <ul class="nav navbar-nav navbar-right">
              <li class="navbar-item"><a class="nav-link" href="/races">Runner's Vision</a></li>
          </ul>
          </div>
            <div class="container-fluid navbar-right">
             
              <ul class="nav navbar-nav navbar-right ml-auto">
                
                {% if not g.user %}
                <li class="navbar-item"><a class="nav-link" href="/signup">Sign up</a></li>
                <li class="navbar-item"><a class="nav-link" href="/login">Log in</a></li>
                {% else %}
               
                <li class="navbar-item"><a class="nav-link" href="/user/{{ g.user.id }}">{{ g.user.username }}</a></li>
                <li class="navbar-item"><a class="nav-link" href="/logout">Log out</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
    </div> -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <p class="{{ category }}"> {{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}</header>

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
</body>
</html>