{% extends 'base.html' %}
{% block title %} {{user.first_name}} {{user.last_name}} Profile {% endblock %}
{% block content %}
<div class="container ml-0 mr-0 mb-10">
<h1>{{user.first_name}} {{user.last_name}}</h1>
<div id="header-pic" class="full-width relative" style="height: 300px">
    <img class="w-100" src="{{ user.header_image_url }}" alt="Header image for {{ user.username }}" height="100%"></div>
  <div class="container ml-0 border border-grey" style="width: 200px;">
    <img src="{{ user.profile_image_url }}" alt="Image for {{ user.username }}" id="profile-avatar" class="w-100">
    
    <p class="mt-1"><b class="lg">About:</b> {{ user.bio }} </p>
   
</div>



<p class="d-flex flex-sm-row">
    {% if g.user.id == user.id %}
           
            <form class="d-inline-flex pl-0" method="POST" action="/user/delete" class="form-inline">
              <button class="btn-sm btn-outline-danger rd-3 ml-2">Delete Profile</button>
            </form>
            <form class="d-inline-flex pl-0" method="POST" action="/user/edit" class="form-inline">
                <button class="btn-sm btn-outline-primary rd-3 ml-2">Edit Profile</button>
              </form>
    {% endif %}
    
</p>

<p><b>See all races on vision board: </b><a href="/user/{{ user.id }}/races">Races</a></p>

{% if race %}
<h2>Training for: {{race}}</h2>
<a href="/race/{{ u_r.id }}/trainings" class="button primary">Add Training</a>

<h3>Total Distances:</h4>
<h4>Run:{{ total_r }} miles   Bike:{{ total_b }} miles   Walk:{{ total_w }} miles </h4>

{% endif %}


<ul>
    {% for t in trainings %}
        <li>{{t.created_at.date()}} - {{ t.title }}</li>
            {% if t.distance %} 
                    <ul>
                        <li>
                     {{t.distance}} {{ t.units }} 
                    </li>
                </ul>
                     {% endif %}  
    {% endfor %}
</ul>

</div>
{% endblock %}