{% extends 'base.html' %}
{% block title %} Search Races {% endblock %}
{% block content %}

<h1>Search Races</h1>

<div class="row col-md-4 center-block">
    <form class="form" id="search-races-form" method="POST">
      {{ form.hidden_tag() }} 
    
      {% for field in form 
              if field.widget.input_type != 'hidden' %}
    
        <p>
          {{ field.label }}
          {{ field }}
    
          {% for error in field.errors %}
            {{ error }}

              {% endfor %}
          
        </p>
    
      {% endfor %}
    
      <button class="btn-outline-primary rd-3" type="submit">Submit</button>
    </form>
</div>

{% endblock %}