{% extends 'base.html' %}

{% block content %}
<nav>
    <a href="/races/search" class="button"> Search for Races
    </a>
</nav>

<ol>
    {% for i in races %}
    
    <li>   
        <h3>{{ i['race']['name'] }} </h3>
        <form action="/user/{{ user_id }}/races/add" method="POST">
            <input type="hidden" name="name" id="name" value="{{ i['race'][name] }}">
            <button type="submit">Add</button>
        </form>
            <ul>
                <li>{{ i['race'][date] }}</li>
                <li>{{ i['race'][address] }}</li>
                <!-- need to slice on <> and make new paragraphs there -->
                <li><a href="{{ i['race'][link] }}">
                    {% if not i['race'].get('url_name') %}
                        {{ i['race'][link] }}
                    {% else %}
                        {{ i['race']['url_name'] }}
                    {% endif %}
                    </a></li>
            </ul>
        
    </li>
    {% endfor %}
</ol>
{% endblock %}
