{% extends 'base.html' %}
{% block title %} Races {% endblock %}
{% block content %}
<div class="container ml-3 mb-10">
<div class="container py-10">
    <div class="row">
        <nav>
            <a href="/races/search" class="button xl"> Search for Races
            </a>
        </nav>
        </div>
</div>

<ol class="rp-0">
    {% for i in races %}
    
    <hr style="color: lightgrey">
    
        <li class="pt-0">    
        <div class="d-flex justify-content-between flex-row r_name align-items-center " style="line-height: 1;">
            <p class="p-2 inline ml-0 lg-font">{{ i['race']['name'] }}</p>
            <form action="/user/{{ user_id }}/races/add" method="POST" class="pl-2 d-inline-flex mb-3">
                <input type="hidden" name="name" id="name" value="{{ i['race']['name'] }}">
                <button class="add-sm" style="height: 25px; padding-top: 0;  align-items: center; float: right; position: relative" type="submit">Add</button>
            </form> 

            
        
         </div>
            <ul>
                <li>{{ i['race'][date] }}</li>
                <li>{{ i['race'][address]['city'] }}, {{ i['race'][address]['state'] }}</li>
                <!-- need to slice on <> and make new paragraphs there -->
                <li><a href="{{ i['race'][link] }}">
                    {% if not i['race'].get('url_name') %}
                        {{ i['race'][link] }}
                    {% else %}
                        {{ i['race']['url_name'] }}
                    {% endif %}
                    </a></li>
            </ul>
        
    </li>

    {% endfor %}
</ol>

</div>
{% endblock %}
