{% extends 'base.html' %}
{% block title %} {user.first_name}}'s Races {% endblock %}
{% block content %}
<div class="container ml-3 mb-10">
<h1>{{user.first_name}} {{user.last_name}}</h1>
<h2>Vision Board</h2>
<p>Go Back: <a href="/user/{{ user.id }}">Profile</a></p>
<ul class="rp-15">
    {% for r in races %}
        <li>{{ r.name }} - {{r.start_date}}
            <p class="d-flex flex-sm-row">
                {% if active == r.id %}
            <form class="d-inline-flex p-2 form-inline" action="/races/{{ user.id }}/{{ r.id }}/inactivate" method="POST">
                <input type="hidden" name="users_races_id" id="users_races_id" value="{{ id }}">
                <button class="btn-outline-or rd-3" type="submit">Inactivate</button> 
                </form>
            {% elif activate != r.id %}
            <form class="d-inline-flex p-2 form-inline" action="/races/{{ user.id }}/{{ r.id }}/activate" method="POST">
                <input type="hidden" name="users_races_id" id="users_races_id" value="{{ id }}">
                <button class="btn-outline-primary rd-3" type="submit">Activate</button> 
                </form>
            {% endif %}
            <form class="d-inline-flex p-2 form-inline" action="/races/{{ user.id }}/{{ r.id }}/delete" method="POST">
                <input type="hidden" name="users_races_id" id="users_races_id_delete" value="{{ id }}">
                <button class="btn-outline-danger rd-3" type="submit">Remove</button>
                </form>
                
            </p>
        </li>
    {% endfor %}
</ul>
</div>
{% endblock %}